<!DOCTYPE html>
<html layout:decorate="~{admin/layout_col2}">
<div layout:fragment="contentR" class="container col-6">
	<h5 class="my-3 border-bottom pb-2">게시판 관리</h5>
	<form method="post" th:object="${adminCategoryForm}">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" id="_csrf" />
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>

		<div class="mb-3">
			<label for="name" class="form-label">게시판 이름</label><input type="text"
				th:field="*{name}" class="form-control">
		</div>
		<input type="submit" value="저장" class="btn btn-info my-2"> <a
			class="btn btn-outline-info" th:href="@{/admin/category/list}">취소</a>
	</form>
</div>
</html>