<!DOCTYPE html>
<html layout:decorate="~{admin/layout}">
<div layout:fragment="content" class="container my-3">
	<h5 class="my-3 border-bottom pb-2">게시판 관리</h5>
	<div class="row my-3">
		<div class="col-6">
			<a th:href="@{/admin/category/create}" class="btn btn-info">등록</a>
		</div>
		<div class="col-6">
			<div class="input-group">
				<input type="text" id="search_kw" class="form-control"
					th:value="${kw}">
				<button class="btn btn-outline-info" type="button" id="btn_search">검색</button>
			</div>
		</div>
	</div>

	<div class="col">
		<table class="table category">
			<thead class="table-info">
				<tr class="text-center">
					<th>번호</th>
					<th>게시판 이름</th>
					<th>생성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${!paging.isEmpty()}" class="text-center"
					th:each="item, loop : ${paging}">
					<td
						th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
					<td class="text-start"><a
						th:href="@{|/admin/category/detail/${item.id}|}"
						th:text="${item.name}"></a></td>
					<td
						th:text="${#temporals.format(item.createDate, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
				<tr class="text-center" th:if="${paging.isEmpty()}">
					<td colspan="5">게시판이 존재하지 않습니다.</td>
				</tr>
			</tbody>
		</table>
		<form th:action="@{/admin/category/list}" method="get" id="searchForm">
			<input type="hidden" id="kw" name="kw" th:value="${kw}"> <input
				type="hidden" id="page" name="page" th:value="${paging.number}">
		</form>
	</div>
	<div class="col">
		<!-- 		<form method="post" th:object="${adminCategoryForm}"> -->
		<!-- 			<input type="hidden" th:name="${_csrf.parameterName}" -->
		<!-- 				th:value="${_csrf.token}" id="_csrf" /> -->
		<!-- 			<div th:replace="~{form_errors :: formErrorsFragment}"></div> -->

		<!-- 			<div class="mb-3"> -->
		<!-- 				<label for="name" class="form-label">게시판 이름</label><input -->
		<!-- 					type="text" th:field="*{name}" class="form-control"> -->
		<!-- 			</div> -->
		<!-- 			<input type="submit" value="저장" class="btn btn-info my-2"> <a -->
		<!-- 				class="btn btn-outline-info" th:href="@{/admin/category/list}">취소</a> -->
		<!-- 		</form> -->
	</div>
</div>
<script layout:fragment="script" type='text/javascript'
	th:src="@{/list_search.js}"></script>
</html>