<!DOCTYPE html>

<html layout:decorate="~{admin/layout}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="alertModal" id="modal" class="modal fade"
	tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center alert-danger">
				<span id="message"></span>
			</div>
		</div>
	</div>
</div>
</html>
