<!DOCTYPE html>
<html layout:decorate="~{admin/layout}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" class="container my-3 signup"
	style="max-width: 512px; margin: 0 auto;">
	<h5 class="my-3 border-bottom pb-2">회원 관리</h5>
	<form th:action="@{/admin/user/create}" th:object="${adminUserForm}"
		method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="username" class="form-label">사용자ID</label> <input
				type="text" th:field="*{username}" class="form-control"></input>
		</div>
		<div class="mb-3">
			<label for="password1" class="form-label">비밀번호</label><input
				type="password" th:field="*{password1}" class="form-control" />
		</div>
		<div class="mb-3">
			<label for="email" class="form-label">이메일</label><input type="email"
				th:field="*{email}" class="form-control" />
		</div>
		<button type="submit" class="btn btn-info">등록</button>
		<a class="btn btn-outline-info" th:href="@{/admin/user/list}">취소</a>
	</form>
</div>

</html>