/* @charset "UTF-8"; */
textarea {
	width: 100%;
}

input[type=submit] {
	margin-top: 10px;
}

.container .table {
	th:last-child, td:last-child {     
		width: 150px;
	text-align: center;}
}
/* .card d-flex>div { */
/* 	min-width: 100px; */
/* 	width: 200px; */
/* } */

/* .card d-flex div:nth-child(2) { */
/* 	min-width: 250px; */
/* 	text-align: right; */
/* } */
.btn-outline-secondary {
	background-color: white;
}

.placeholder {
	background-color: inherit;
}