<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" class="container my-3">

	<h5 class="border-bottom pb-2">회원 정보</h5>

	<div class="row">
		<div class="col">

			<form th:action="@{/user/info}" th:object="${userModifyForm}"
				method="post" class="user">
				<div class="mb-3 row">
					<div class="col title">
						<span class="form-label">사용자ID</span>
					</div>
					<div class="col">
						<span class="form-control" th:text="*{username}"></span>
					</div>
				</div>
				<div class="mb-3 pwd row" id="pwd">
					<div class="col title">
						<span class="form-label">비밀번호</span>
					</div>
					<div class="col">
						<a href="javascript:onDisplay(true);"
							class="btn btn-sm btn-outline-info">비밀번호 변경</a>
					</div>
				</div>

				<div class="card p-3 mb-3" id="pwdchange">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<div class="">
						<div th:replace="~{form_errors :: formErrorsFragment}"></div>
					</div>
					<div class="mb-3 ">
						<label for="password" class="form-label">현재 비밀번호</label><input
							type="password" th:field="*{password}" class="form-control " />
					</div>
					<div class="mb-3 ">
						<label for="password1" class="form-label">변경 비밀번호</label><input
							type="password" th:field="*{password1}" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="password2" class="form-label">변경 비밀번호 확인</label><input
							type="password" th:field="*{password2}" class="form-control" />
					</div>
					<div>
						<button type="submit" class="btn btn-sm btn-info">변경</button>
						<a href="javascript:onDisplay(false);"
							class="btn btn-sm btn-outline-info">취소</a>
					</div>
				</div>
				<div class="mb-3 row">
					<div class="col title">
						<span class="form-label">이메일</span>
					</div>
					<div class="col">
						<span class="form-control" th:text="*{email}"></span>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>
<script layout:fragment="script" th:inline="javascript">
    const mode = /*[[${mode}]]*/'';
    if (mode == 'modify') {
        onDisplay(true);
    }
</script>
</html>